<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>

<body>
  <main>
    <div class="user-details">
      <h1> Projects </h1>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h4> Machine learning-based port ship waiting time predictionfor efficient port operation system </h4>
        <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
        <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
      </div>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h4> AI-based anti-abuse information provision system </h4>
        <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
        <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
      </div>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h4> Best seller prediction based on deep learning with book information </h4>
        <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
        <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
      </div>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h4> Analysis of key factors affecting waiting time of special transportation for the disabled and optimization strategies </h4>
        <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
        <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
      </div>
    </div>
    <div class="user-projects">
      <div class="images-left">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents-right">
        <h4> Selecting the optimal location for CCTV in Jinju City based on priority for crime prevention </h4>
        <p>The phenomenon of ship congestion in ports...</p>
        <a class="project-link" href="{{ site.baseurl }}/projects/ship-waiting-time.html">Check it out</a>
      </div>
    </div>
  </main>
  <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</body>
</html>