<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>My values</h2>
      <i class="fas fa-bullseye goal-icon"></i>
      <i class="fas fa-heart passion-icon"></i>
      <i class="fas fa-hourglass time-icon"></i>
      <p>
        ✔️ Goal <br>
        ✔️ Passion <br>
        ✔️ Perseverance <br>
      </p>
    </div>
    <div class="tech">
      <h2>My strength</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-scikitlearn-plain colored"></i>
      <i class="devicon-pytorch-original colored"></i>
      <p>
        ✔️ Python <br>
        ✔️ Machine Learning <br> (Scikit-learn, xgboost) <br>
        ✔️ Deep Learning <br> (pytorch, tensorflow) <br>
      </p>  
    </div>
    <div class="tech">
      <h2>My weaknesses</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-mysql-original colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>
        ✔️ C++ <br>
        ✔️ SQL <br>
        ✔️ Git <br>
      </p>
    </div>
</div>

<div class="user-details">
  <h1> Awards </h1>
  <h4> 1. College Student Paper Contest, Gold Prize, "Prediction of waiting time for ships in ports based on machine learning for efficient port operation system," Korean Information Technology Association, 2024 </h4>
  <h4> 2. College Student Paper Contest, Gold Prize, "The Analysis and Optimization Strategy of Major Factors Influencing the Waiting Time of Special Transportation for the Disabled," Korean Information Technology Association, 2024 </h4>
  <h4> 3. With big data, our neighborhood problem-solving idea contest, excellence award, "Choosing the optimal location for CCTV in Jinju City based on priorities for crime prevention", Ulsan Gyeongnam Regional Innovation Platform Smart Community Project Group / Korea Land and Housing Corporation, 2024 </h4>
  <h4> 4. Research Performance Competition and 33rd Software Exhibition, Grand Prize, "Drug Abuse Prevention Information Provision System", Computer Engineering Department, National University of Gyeongsang National University, IT Engineering College, 2024 </h4>
  <h4> 5. College Student Paper Competition, Gold Prize, "Machine Learning-Based Drug Consumption Risk Prediction and Classification Using Neo-FFI-R Personality Type Test," Korea Information Technology Association, 2023 </h4>
</div>