 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>My values</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbe</p>
    </div>
    <div class="tech">
      <h2>My strength</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>My weaknesses</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
<div class="user-details">
  <h1> Awards </h1>
</div>
<div class="user-projects">
  <div class="number-icon">
    <span>1</span>
  </div>
  <div class="contents-right">
    <h4> Machine learning-based port ship waiting time predictionfor efficient port operation system </h4>
    <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> AI-based anti-abuse information provision system </h4>
    <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">Check it out</a>
  </div>
</div>