<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ship.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Machine learning-based port ship waiting time predictionfor efficient port operation system </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>For an efficient port operation system, we created an algorithm for predicting ship waiting times in ports using machine learning. Based on 10 factors, such as the distance between the berths and the berths, the type of ship, the actual berths, we used various machine learning models to predict and compare ship waiting times.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/project-details.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>The phenomenon of ship congestion in ports is a significant issue for the profitability of ships and the national logistics competitiveness. Expanding port facilities to address this problem is time-consuming and costly. In this paper, we propose a ship waiting time prediction algorithm within ports using machine learning for an efficient port operation system. We predicted and compared ship waiting times using various machine learning models based on ten different factors, including the distance between berth and berth, ship type, actual berth time, country of arrival at port, goods weight tonnage. Through this study, it is anticipated that by developing a ship waiting time prediction model, the port operation system can be improved efficiently, thereby enhancing the satisfaction with port services.</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/project-details.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Machine learning-based port ship waiting time prediction for efficient port operation system </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>The phenomenon of ship congestion in ports...</p>
    <a class="project-link" href="{{ site.baseurl }}/projects/ship-waiting-time.html">Check it out</a>
  </div>
</div>