<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/free-icon-best-seller-4277131.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> 1. Best seller prediction based on deep learning with book information </h4>
    <p><li>2024.12. ~ Currently in progress </li></p>
    <a class="project-link" href="https://github.com/alsghk05/Best-seller-prediction-based-on-deep-learning-with-book-information">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/free-icon-harbour-9287014.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> 2. Machine learning-based port ship waiting time prediction for efficient port operation system </h4>
    <p><li>2024.08. ~ 2024.12.</li></p>
    <a class="project-link" href="https://github.com/alsghk05/Machine-learning-based-port-ship-waiting-time-prediction-for-efficient-port-operation-system">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/free-icon-taxi-1435081.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> 3. Analysis of key factors affecting waiting time of special transportation for the disabled and optimization strategies </h4>
    <p><li>2024.07. ~ 2024.09.</li></p>
    <a class="project-link" href="https://github.com/alsghk05/Analysis-of-key-factors-affecting-waiting-time-of-special-transportation">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/free-icon-cctv-6003656.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> 4. Selecting the optimal location for CCTV in Jinju City based on priority for crime prevention </h4>
    <p><li>2024.06. ~ 2024.08.</li></p>
    <a class="project-link" href="https://github.com/alsghk05/Selecting-the-optimal-location-for-CCTV-in-Jinju-City-based-on-priority-for-crime-prevention">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/free-icon-no-drugs-6090090.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> 5. AI-based drug abuse prevention information provision system </h4>
    <p>
      <li>2023.09. ~ 2024.05.</li>
      <li>2023.09. ~ 2024.05.</li>
    </p>
    <a class="project-link" href="https://github.com/alsghk05/AI-based-drug-abuse-prevention-information-provision-system">read more</a>
  </div>
</div>