<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/images.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> Machine learning-based port ship waiting time prediction for efficient port operation system </h4>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> AI-based drug abuse prevention information provision system </h4>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> Best seller prediction based on deep learning with book information </h4>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> Analysis of key factors affecting waiting time of special transportation for the disabled and optimization strategies </h4>
    <a class="project-link" href="{{ site.baseurl }}/project-details.html">read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h4> Selecting the optimal location for CCTV in Jinju City based on priority for crime prevention </h4>
    <a class="project-link" href="https://github.com/alsghk05/Selecting-the-optimal-location-for-CCTV-in-Jinju-City-based-on-priority-for-crime-prevention">read more</a>
  </div>
</div>