#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.goal-icon {
  color: #4caf50; /* 초록색 */
}
.passion-icon {
  color: #f44336; /* 빨간색 */
}
.perseverance-icon {
  color: #2196f3; /* 파란색 */
}
.time-icon {
  color: #ff9800; /* 오렌지색 */
}