#particles-js {
  background: $main;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 20vh; /* 더 작게 조정 */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  z-index: 1;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 40%; /* 중앙에서 약간 위로 */
  left: 50%;
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 20px; /* 텍스트 크기 줄이기 */
    line-height: 1;
  }
  .site-description {
    font-size: 12px;
    margin-top: 5px;
  }
}

.header-icons .icon {
  width: 15px; /* 아이콘 크기 축소 */
  height: 15px;
  font-size: 15px;
}

.down .icon {
  width: 40px; /* 다운 버튼 크기 축소 */
  height: 40px;
  font-size: 20px;
}
